<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <main class="container">
        <section>
            <h1>Shafayat Mahin</h1>
            <h2>Books I've read</h2>
            <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or
                anywhere
                else. This page will constantly update as I read more, so bookmark it if you want to check back in a few
                months.<br><br>
                Sorted with my top recommendations up top. Sort by <a href="/">title</a>, <a href="/">newest</a>, or <a
                    href="/">best</a>.</p>
        </section>

        <section>
            <hr>
            <div class="abook" data-rating="10" data-title="You Can Negotiate Anything - by Herb Cohen"
                data-date="2023-08-02">
                <img src="https://covers.openlibrary.org/b/isbn/9780385533225-M.jpg" class="float-start me-3" />

                <h2><a href="/book/NegotiateAnything">You Can Negotiate Anything - by Herb Cohen</a></h2>

                <small>Date read: 2023-08-02. How strongly I recommend it: <strong>10</strong>/10</small>

                <p>Everything is negotiable. Challenge authority. You have the power in any situation. This is how to
                    realize it and use it. A must-read classic from 1980 from a master negotiator. My notes here aren’t
                    enough because the little book is filled with so many memorable stories — examples of great
                    day-to-day moments of negotiation that will stick in your head for when you need them. (I especially
                    loved the one about the power of the prisoner in solitary confinement.) So go buy and read the book.
                    I’m giving it a 10/10 rating even though the second half of the book loses steam, because the first
                    half is so crucial.

                </p>
                <p><strong><a href="/book/NegotiateAnything">Read my notes</a></strong>, or go to the <a
                        href="https://www.amazon.com/s?k=0806541229&amp;tag=sivers-20">Amazon page</a> for details and
                    reviews.
                </p>
            </div>
        </section>
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="assets/icons/coffee-capsule.png" alt="">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <img src="assets/icons/twitter.png" alt="">
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <img src="assets/icons/linkedin.png" alt="">
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                    <img src="assets/icons/facebook.png" alt="">
                </a>
            </li>
        </ul>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>